:root {
	--background-1: #{v.$background-1};
	--background-2: #{v.$background-2};
	--background-3: #{v.$background-3};
	--background-4: #{v.$background-4};
	--primary: #{v.$primary};
	--secondary: #{v.$secondary};
	--font-family: "Inter", sans-serif;

	font-family: var(--font-family);
	font-size: 16px;
	font-weight: 300;
	color: var(--secondary);
	text-decoration: none;
	background-color: var(--background);
	background-size: cover;
}
