$background-1: #1e2124;
$background-2: #282b30;
$background-3: #36393e;
$background-4: #424549;

$primary: #1e555c;
$secondary: #3f784c;

@font-face {
	font-family: "Inter";
	src: url(./Inter-Light.ttf);
	font-weight: 300;
}
@font-face {
	font-family: "Inter";
	src: url(./Inter-Regular.ttf);
	font-weight: 400;
}
@font-face {
	font-family: "Inter";
	src: url(./Inter-Medium.ttf);
	font-weight: 500;
}
@font-face {
	font-family: "Inter";
	src: url(./Inter-Bold.ttf);
	font-weight: 700;
}
